.header{
    background-color: lightskyblue;
    border-top-left-radius: var(--common_border_radius);
    border-top-right-radius: var(--common_border_radius);
    padding:.2rem .4rem .2rem .4rem;
    display: grid;
    gap:.5rem
}
.main{
padding: 1rem;
}
.page_component{
    border-radius: var(--common_border_radius);
    box-shadow: var(--common_shadows);
    background-clip: border-box;
    box-sizing: border-box;

}
h3{
    color: whitesmoke;
}