.header{
    background-color: lightskyblue;
    border-top-left-radius: var(--common_border_radius);
    border-top-right-radius: var(--common_border_radius);
    padding:.2rem .4rem .2rem .4rem;
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    gap:.5rem;
    position:sticky;
    z-index: var(--z_index-header);
    top:0px;
}
.main{
padding: 1rem;
}
.page_component{
    border-radius: var(--common_border_radius);
    box-shadow: var(--common_shadows);
    background-clip: border-box;
    box-sizing: border-box;
    overflow: auto;
// resize:both;
}
h3{
    color: whitesmoke;
}