.prev-enter-active {
  animation: prevInAnimation 0.2s ease-in-out;
}
.prev-leave-active {
  animation: prevOutAnimation 0.2s ease-in-out;
}

@keyframes prevInAnimation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes prevOutAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(+100%);
  }
}

.next-enter-active {
  animation: nextInAnimation 0.2s ease-in-out;
}
.next-leave-active {
  animation: nextOutAnimation 0.2s ease-in-out;
}

@keyframes nextInAnimation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes nextOutAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
